<a href="https://colab.research.google.com/github/Chirag314/EDA/blob/main/Tabular_data_May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tabular playground series for May
# Feature interaction classification

import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
for dirname, _,filenames in os.walk('/kaggle/input'):
  for filename in filenames:
    print(os.path.join(dirname,filename))

In [ ]:

train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

FileNotFoundError: ignored

In [ ]:
train.head()

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,...,f_22,f_23,f_24,f_25,f_26,f_27,f_28,f_29,f_30,target
0,0,-1.373246,0.238887,-0.243376,0.567405,-0.647715,0.839326,0.113133,1,5,...,-2.540739,0.766952,-2.730628,-0.208177,1.363402,ABABDADBAB,67.609153,0,0,0.0
1,1,1.697021,-1.710322,-2.230332,-0.545661,1.113173,-1.552175,0.447825,1,3,...,2.278315,-0.633658,-1.217077,-3.782194,-0.058316,ACACCADCEB,377.096415,0,0,1.0
2,2,1.681726,0.616746,-1.027689,0.810492,-0.609086,0.113965,-0.708660,1,0,...,-1.385775,-0.520558,-0.009121,2.788536,-3.703488,AAAEABCKAD,-195.599702,0,2,1.0
3,3,-0.118172,-0.587835,-0.804638,2.086822,0.371005,-0.128831,-0.282575,3,2,...,0.572594,-1.653213,1.686035,-2.533098,-0.608601,BDBBAACBCB,210.826205,0,0,1.0
4,4,1.148481,-0.176567,-0.664871,-1.101343,0.467875,0.500117,0.407515,3,3,...,-3.912929,-1.430366,2.127649,-3.306784,4.371371,BDBCBBCHFE,-217.211798,0,1,1.0

In [ ]:
train.info()
train.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23775 entries, 0 to 23774
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      23775 non-null  int64
 1   f_00    23775 non-null  float64
 2   f_01    23775 non-null  float64
 3   f_02    23775 non-null  float64
 4   f_03    23775 non-null  float64
 5   f_04    23775 non-null  float64
 6   f_05    23775 non-null  float64
 7   f_06    23775 non-null  float64
 8   f_07    23775 non-null  int64
 9   f_08    23775 non-null  int64
 10  f_09    23775 non-null  int64
 11  f_10    23775 non-null  int64
 12  f_11    23775 non-null  int64
 13  f_12    23775 non-null  int64
 14  f_13    23775 non-null  int64
 15  f_14    23775 non-null  int64
 16  f_15    23775 non-null  int64
 17  f_16    23775 non-null  int64
 18  f_17    23775 non-null  int64
 19  f_18    23775 non-null  int64
 20  f_19    23775 non-null  float64
 21  f_20    23775 non-null  float64
 22  f_21    23775 non-null  float64
 23  f_22    23775 non-null  float64
 24  f_23    23775 non-null  float64
 25  f_24    23775 non-null  float64
 26  f_25    23775 non-null  float64
 27  f_26    23775 non-null  float64
 28  f_27    23775 non-null  object
 29  f_28    23775 non-null  float64
 30  f_29    23775 non-null  int64
 31  f_30    23775 non-null  int64
 32  target  23774 non-null  float64
dtypes: float64(17), int64(15), object(1)
memory usage: 6.0+ MB

(23775, 33)