<a href="https://colab.research.google.com/github/Chirag314/EDA/blob/main/Useful_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas basics
Delete rows with NAN values
>1.axis: Default – 0
0, or ‘index’ : Drop rows which contain NaN values.
1, or ‘columns’ : Drop columns which contain NaN value.
>2.how: Default – ‘any’
‘any’ : Drop rows / columns which contain any NaN values.
‘all’ : Drop rows / columns which contain all NaN values.
>3.thresh (int): Optional
Delete rows/columns which contains less than minimun thresh number of non-NaN values.
>4.inplace (bool): Default- False
If True, modifies the calling dataframe object


Returns

If inplace==True, the return None, else returns a new dataframe by deleting the rows/columns based on NaN values
you must add inplace = True argument, if you want the dataframe to be actually updated.

In [ ]:
#Pandas delete rows with NAN values
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
# Drop rows which contain all NaN values
df = df.dropna(axis=0, how='all')
df.dropna(axis=1)# Drop columns that contain any NaN value.
df.dropna(thresh=3,axis=1)# Drop any column that have less than 3 NaN values
df.dropna(axis=column,how='all')# Dron columns that contain ALL NaN values.

In [ ]:

#If you want to select rows with at least one NaN value, then you could use isna + any on axis=1:

df[df.isna().any(axis=1)]
#If you want to select rows with a certain number of NaN values, then you could use isna + sum on axis=1 + gt. For example, the following will fetch rows with at least 2 NaN values:

df[df.isna().sum(axis=1)>1]

# Select not NaN values
df[df.notna().all(axis=1)]

In [ ]:
#Print all columns names
print(df.columns)
#Print all columns tyoes
print(df.dtypes)
# Select specific data types 
only_ints = df.select_dtypes(include=['int'])
print(only_ints.columns)

In [ ]:
#For a dataframe df, one can use any of the following: Number of rows in dataframe
df.shape
len(df.index)
len(df.comlumns)# To find out number of columns
df.shape[0]
df[df.columns[0]].count() (== number of non-NaN values in first column)
count_row = df.shape[0]  # Gives number of rows
count_col = df.shape[1]  # Gives number of columns
r, c = df.shape

In [ ]:
# Delete rows with a condition.
#Delete all rows if a row contains 3 missing values
df.drop(df[df.isna().sum(axis=1)==3].index,inplace=True)

#To remove all rows where column 'score' is < 50 and > 20
#The operators are: | for or, & for and, and ~ for not. These must be grouped by using parentheses.
df = df.drop(df[(df.score < 50) & (df.score > 20)].index)

# Drop record with specified values. Drop record where area >4000 and price , 210000
df_train = df_train.drop(df_train[(df_train['GrLivArea']>4000) & (df_train['SalePrice']<210000)].index)

In [ ]:
# Change pandas display option in editor

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# To display all columns in wide format so that they dont print in different pages if more columns.
# Default option is True--> set it False to display all columns in wide format.
pd.set_option('display.expand_frame_repr', False)

In [ ]:
# Convert NN output probability to boolean values.
test2.loc[test2['Trans'] < 0.5, 'Transported'] = 'False' 
test2.loc[test2['Trans'] >= 0.5, 'Transported'] = 'True' 
test2.drop('Trans',axis=1,inplace=True)

In [ ]:
#To find out unique values within columns
x.iloc[:,3].unique() # All unique values in column 3
temp.Pclass.unique()

In [ ]:
#Convert numeric values to float
numeric_list = df.select_dtypes(include=[np.number]).columns
df[numeric_list] = df[numeric_list].astype(np.float32)

In [ ]:
# set floating point option to display 4 decimals.

pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [ ]:
# Check how many data is type of object

df_data.select_dtypes(['object']).head()

In [ ]:
# Find the frequency of dataframe columns

df1 = df['Courses'].value_counts()
df1 = df.Courses.value_counts
df1 = df.groupby('Courses').count()
df1 = df.index.value_counts()

In [ ]:
# Transform all object and boolean column to integer
for colname in x_train.select_dtypes(['object','bool']).columns:
  x_train[colname]=LabelEncoder().fit_transform(x_train[colname])

In [ ]:
# Drop whole column
train=train.drop(['Age'].index,inplace=True)

In [ ]:
# LEts check correlation matric to find out which features are important in prediction survival

corrMatrix = train.corr()
sns.heatmap(corrMatrix, annot=True)
plt.show()

In [ ]:
# Cross tab frequency table
train.groupby(['Fare', 'Survived'])['Fare'].count().unstack()

In [ ]:
# Use of min max scaler in data which is not normal and has a range of values such as pixel values
# Use of standard scaler when data is normally distributed.
from sklearn.preprocessing import MinMaxScale
scaler=MinMaxScaler()
train['Fare']=scaler.fit_transform(train[['Fare']])

In [ ]:
# Another way to find median
median = df['Age'].describe()[5]

In [ ]:
# Impute missing values with mode for fare in test data

mode=train['Embarked'].value_counts().index[0]
train['Embarked']=train['Embarked'].fillna(mode)
train.isnull().sum()

In [ ]:
# Draw barplot with cross tab freq values.
ax=sns.countplot(data=temp,x='Pclass',hue='Survived')
ax.bar_label(ax.containers[0])
ax.bar_label(ax.containers[1])
plt.legend(title='Survived or not',loc='upper left',labels=['No','Yes'])

In [ ]:
# Convert data to categories categories
  data['Age']=pd.cut(data['Age'],bins=[0,12,20,40,120], labels=['Children','Teenage','Adult','Elder'])

In [ ]:
# Plot training and validation metrics from history object

train_loss=history.history['loss']
val_loss=history.history['val_loss']
train_accuracy=history.history['accuracy']
val_accuracy=history.history['val_accuracy']
epochs=range(len(train_accuracy))
#plot loss
plt.plot(epochs,train_loss,color='b',label='Train loss')
plt.plot(epochs,val_loss,color='r',label='Validation loss')
#plot accuracy
plt.plot(epochs,train_accuracy,color='b',label='Train accuracy')
plt.plot(epochs,val_accuracy,color='r',label='Validation accuracy')

In [ ]:
#XGB model 
xgb_model=xgb.XGBClassifier(objective='binary:logistic',random_state=42)

xgb_model.fit(tr_x,tr_y)
y_pred=xgb_model.predict(cv_x)
print(confusion_matrix(cv_y,y_pred))

In [ ]:
 #Train the model: xg_reg
xg_reg = xgb.train(params=params, dtrain=housing_dmatrix, num_boost_round=10)

# Plot the feature importances 
xgb.plot_importance(xg_reg)
plt.show()

In [ ]:
#list comprehension Square all values in list x
#num**2 for num in x

# lambda function to square all values 
list(map(lambda x: x**2,range(1,6)))

#argmax() and argmin() are used to find index location of max and min values in numpy array.

[1, 4, 9, 16, 25]

In [ ]:
import numpy as np
import pandas as pd
arr=np.arange(0,5)
arr
arr/arr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """

array([nan,  1.,  1.,  1.,  1.])

In [ ]:
# Setting index with col_name
df.set_index('col_name',inplace=True)

# Reseting index of the dataframe to numerical index(which is default index)

df.reset_index(inplace=True)

In [ ]:
# Imputing missing values with LOCF or Next values
data_dict={'A':[1,2 ,np.nan,4,np.nan],
           'B':[np.nan, np.nan,np.nan,np.nan,np.nan],
           'C':[11,12,13,14,15],
           'D':[16,np.nan,18,19,20]}
df=pd.DataFrame(data_dict)
df.fillna(method='ffill')# Use the last valid observation to fill the gap
df.fillna(method='bfill')#Use next valid observation to fill the gap

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12  18.0
2  4.0 NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [ ]:
# merge datasets joins
pd.merge(df1,df2,how='inner',on=['key'])
pd.merge(df1,df2,how='outer',on=['key'])
pd.merge(df1,df2,how='left',on=['key'])
pd.merge(df1,df2,how='right',on=['key'])

#Stack datasets
pd.concat([df1],[df2])

In [ ]:
# Two features with highest chi-squared statistics are selected
#For selecting categorical features .Change k for number of features.
chi2_features = SelectKBest(chi2, k = 2)
X_kbest_features = chi2_features.fit_transform(X, y)

In [ ]:
# Print importnant features in the model

model=ExtraTreesClassifier()
model.fit(x,y)
print(model.feature_importances_)
feature_importances=pd.Series(model.feature_importanes_,index=x.columns)
feature_importances.nlargest(10).plot(kind='barh')# Draw horizontal bar graph of 10 most important features.
plt.show()

In [ ]:
#The correlation matrix shows only linear dependence. If we plot a rolling mean of the target probability for every feature, we'll see nonlinear dependences as well:
# If we get non linear dependencies then 
ax.scatter(temp[f], temp.state.rolling(15000, center=True).mean(), s=2)# Plot rolling mean of 15000 values against feature .

In [ ]:
# Use set_index and reset_index to find out how many family memebers from family name
test_df['FamilyId'] = test_df['PassengerId'].str.split("_", n=2, expand=True)[0]
test_df['Family Name'] = test_df['Name'].str.split(' ', n=2, expand=True)[1]
test_df = test_df.set_index(['FamilyId','Family Name'])# Setting the index with FamilyId and Family Name witll set index as an example below
test_df['Family Size'] = 1 # Default family size
​
for i in range(test_df.shape[0]):
    fam_size = test_df.loc[test_df.index[i],:].shape[0]# this gives list of (number of family members, total columns in test datasets)--> shape[0] will give total familly members
    test_df.loc[test_df.index[i],'Family Size'] = fam_size
​
test_df=test_df.reset_index()# Reset index to default

In [ ]:
# Filtering dataset
#Check if countries are in column 

countries=["United States","India","United Kingdon","Germany","Canada"]
filt=df['Country'].isin(countries)
df.loc[filt,'Country']

In [ ]:
#Find sum across columns 
df[['a','b','d']].agg('sum', axis=1)
The advantage of agg is that you can use multiple aggregation functions:

df[['a','b','d']].agg(['sum', 'prod', 'min', 'max'], axis=1)

In [ ]:
#Filtering based on if else condition. Create/update column based on existing column conditions.
df['Interest']=[i*0.02 if i<20 else i*0.04 for i in df.debts]

In [ ]:
#To achieve a compact visualization of the distribution that retains histogram-like characteristics, Hintze and Nelson (1998) developed the violin plot (c).
#Violin plot is created by generating a density or distribution of the data and its mirror image. In the above figure we can see the violin plot, where we can
 #now see the many distinct peaks in citric acid distribution. The lower quartile, median, and upper quartile can be added to a violin plot to also consider 
# this information in the overall assessment of the distribution.
 fig = go.Figure(px.violin(df, y = 'sulphates', title = 'Violin Plot of Sulphates', box = True))
fig.update_layout(title_x=0.5)
fig.show()

In [ ]:
#When performing Label Encoding below, you must encode train and test together as in
df = pd.concat([train[col],test[col]],axis=0)
# PERFORM FEATURE ENGINEERING HERE
train[col] = df[:len(train)]
test[col] = df[len(train):]

In [ ]:
#Frequency Encoding
#Frequency encoding is a powerful technique that allows LGBM to see whether column values are rare or common. For example, if you want LGBM to "see" which credit cards are used infrequently, try

temp = df['card1'].value_counts().to_dict()
df['card1_counts'] = df['card1'].map(temp)