<a href="https://colab.research.google.com/github/Chirag314/EDA/blob/main/Useful_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas basics
Delete rows with NAN values
>1.axis: Default – 0
0, or ‘index’ : Drop rows which contain NaN values.
1, or ‘columns’ : Drop columns which contain NaN value.
>2.how: Default – ‘any’
‘any’ : Drop rows / columns which contain any NaN values.
‘all’ : Drop rows / columns which contain all NaN values.
>3.thresh (int): Optional
Delete rows/columns which contains less than minimun thresh number of non-NaN values.
>4.inplace (bool): Default- False
If True, modifies the calling dataframe object


Returns

If inplace==True, the return None, else returns a new dataframe by deleting the rows/columns based on NaN values
you must add inplace = True argument, if you want the dataframe to be actually updated.

In [ ]:
#Pandas delete rows with NAN values
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
# Drop rows which contain all NaN values
df = df.dropna(axis=0, how='all')

In [ ]:

#If you want to select rows with at least one NaN value, then you could use isna + any on axis=1:

df[df.isna().any(axis=1)]
#If you want to select rows with a certain number of NaN values, then you could use isna + sum on axis=1 + gt. For example, the following will fetch rows with at least 2 NaN values:

df[df.isna().sum(axis=1)>1]

# Select not NaN values
df[df.notna().all(axis=1)]

In [ ]:
#For a dataframe df, one can use any of the following: Number of rows in dataframe
df.shape
len(df.index)
len(df.comlumns)# To find out number of columns
df.shape[0]
df[df.columns[0]].count() (== number of non-NaN values in first column)
count_row = df.shape[0]  # Gives number of rows
count_col = df.shape[1]  # Gives number of columns
r, c = df.shape

In [ ]:
# Delete rows with a condition.
#Delete all rows if a row contains 3 missing values
df.drop(df[df.isna().sum(axis=1)==3].index,inplace=True)

#To remove all rows where column 'score' is < 50 and > 20
#The operators are: | for or, & for and, and ~ for not. These must be grouped by using parentheses.
df = df.drop(df[(df.score < 50) & (df.score > 20)].index)

In [ ]:
# Change pandas display option in editor

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# To display all columns in wide format so that they dont print in different pages if more columns.
# Default option is True--> set it False to display all columns in wide format.
pd.set_option('display.expand_frame_repr', False)

In [ ]:
# Convert NN output probability to boolean values.
test2.loc[test2['Trans'] < 0.5, 'Transported'] = 'False' 
test2.loc[test2['Trans'] >= 0.5, 'Transported'] = 'True' 
test2.drop('Trans',axis=1,inplace=True)

In [ ]:
#To find out unique values within columns
x.iloc[:,3].unique() # All unique values in column 3
temp.Pclass.unique()

In [ ]:
#Convert numeric values to float
numeric_list = df.select_dtypes(include=[np.number]).columns
df[numeric_list] = df[numeric_list].astype(np.float32)

In [ ]:
# set floating point option to display 4 decimals.

pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [ ]:
# Check how many data is type of object

df_data.select_dtypes(['object']).head()

In [ ]:
# Find the frequency of dataframe columns

df1 = df['Courses'].value_counts()
df1 = df.Courses.value_counts
df1 = df.groupby('Courses').count()
df1 = df.index.value_counts()

In [ ]:
# Transform all object and boolean column to integer
for colname in x_train.select_dtypes(['object','bool']).columns:
  x_train[colname]=LabelEncoder().fit_transform(x_train[colname])

In [ ]:
# Drop whole column
train=train.drop(['Age'].index,inplace=True)

In [ ]:
# LEts check correlation matric to find out which features are important in prediction survival

corrMatrix = train.corr()
sns.heatmap(corrMatrix, annot=True)
plt.show()

In [ ]:
# Cross tab frequency table
train.groupby(['Fare', 'Survived'])['Fare'].count().unstack()

In [ ]:
# Use of min max scaler in data which is not normal and has a range of values such as pixel values
# Use of standard scaler when data is normally distributed.
from sklearn.preprocessing import MinMaxScale
scaler=MinMaxScaler()
train['Fare']=scaler.fit_transform(train[['Fare']])

In [ ]:
# Impute missing values with mode for fare in test data
mode=train['Embarked'].value_counts().index[0]
train['Embarked']=train['Embarked'].fillna(mode)
train.isnull().sum()

In [ ]:
# Draw barplot with cross tab freq values.
ax=sns.countplot(data=temp,x='Pclass',hue='Survived')
ax.bar_label(ax.containers[0])
ax.bar_label(ax.containers[1])
plt.legend(title='Survived or not',loc='upper left',labels=['No','Yes'])

In [ ]:
# Convert data to categories categories
  data['Age']=pd.cut(data['Age'],bins=[0,12,20,40,120], labels=['Children','Teenage','Adult','Elder'])