<a href="https://colab.research.google.com/github/Chirag314/EDA/blob/main/Useful_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas basics
Delete rows with NAN values
>1.axis: Default – 0
0, or ‘index’ : Drop rows which contain NaN values.
1, or ‘columns’ : Drop columns which contain NaN value.
>2.how: Default – ‘any’
‘any’ : Drop rows / columns which contain any NaN values.
‘all’ : Drop rows / columns which contain all NaN values.
>3.thresh (int): Optional
Delete rows/columns which contains less than minimun thresh number of non-NaN values.
>4.inplace (bool): Default- False
If True, modifies the calling dataframe object


Returns

If inplace==True, the return None, else returns a new dataframe by deleting the rows/columns based on NaN values
you must add inplace = True argument, if you want the dataframe to be actually updated.

In [ ]:
#Pandas delete rows with NAN values
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
# Drop rows which contain all NaN values
df = df.dropna(axis=0, how='all')

In [ ]:

#If you want to select rows with at least one NaN value, then you could use isna + any on axis=1:

df[df.isna().any(axis=1)]
#If you want to select rows with a certain number of NaN values, then you could use isna + sum on axis=1 + gt. For example, the following will fetch rows with at least 2 NaN values:

df[df.isna().sum(axis=1)>1]

In [ ]:
#For a dataframe df, one can use any of the following: Number of rows in dataframe
df.shape
len(df.index)
df.shape[0]
df[df.columns[0]].count() (== number of non-NaN values in first column)