<a href="https://colab.research.google.com/github/Chirag314/EDA/blob/main/Useful_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas basics
Delete rows with NAN values
>1.axis: Default – 0
0, or ‘index’ : Drop rows which contain NaN values.
1, or ‘columns’ : Drop columns which contain NaN value.
>2.how: Default – ‘any’
‘any’ : Drop rows / columns which contain any NaN values.
‘all’ : Drop rows / columns which contain all NaN values.
>3.thresh (int): Optional
Delete rows/columns which contains less than minimun thresh number of non-NaN values.
>4.inplace (bool): Default- False
If True, modifies the calling dataframe object


Returns

If inplace==True, the return None, else returns a new dataframe by deleting the rows/columns based on NaN values
you must add inplace = True argument, if you want the dataframe to be actually updated.

In [ ]:
#Pandas delete rows with NAN values
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
# Drop rows which contain all NaN values
df = df.dropna(axis=0, how='all')

In [ ]:

#If you want to select rows with at least one NaN value, then you could use isna + any on axis=1:

df[df.isna().any(axis=1)]
#If you want to select rows with a certain number of NaN values, then you could use isna + sum on axis=1 + gt. For example, the following will fetch rows with at least 2 NaN values:

df[df.isna().sum(axis=1)>1]

# Select not NaN values
df[df.notna().all(axis=1)]

In [ ]:
#For a dataframe df, one can use any of the following: Number of rows in dataframe
df.shape
len(df.index)
len(df.comlumns)# To find out number of columns
df.shape[0]
df[df.columns[0]].count() (== number of non-NaN values in first column)
count_row = df.shape[0]  # Gives number of rows
count_col = df.shape[1]  # Gives number of columns
r, c = df.shape

In [ ]:
# Delete rows with a condition.
#Delete all rows if a row contains 3 missing values
df.drop(df[df.isna().sum(axis=1)==3].index,inplace=True)

#To remove all rows where column 'score' is < 50 and > 20
#The operators are: | for or, & for and, and ~ for not. These must be grouped by using parentheses.
df = df.drop(df[(df.score < 50) & (df.score > 20)].index)

In [ ]:
# Change pandas display option in editor

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# To display all columns in wide format so that they dont print in different pages if more columns.
# Default option is True--> set it False to display all columns in wide format.
pd.set_option('display.expand_frame_repr', False)

In [ ]:
# Convert NN output probability to boolean values.
test2.loc[test2['Trans'] < 0.5, 'Transported'] = 'False' 
test2.loc[test2['Trans'] >= 0.5, 'Transported'] = 'True' 
test2.drop('Trans',axis=1,inplace=True)